.container-login{
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.container-login h1{
    text-align: center;
    margin-bottom: 20px;
}

.container-login input{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.container-login button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(31, 0, 207);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

