<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/sublime/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 Mar 2023 16:25:42 GMT -->

<head>
	<title>thank for order</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Sublime project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
	<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/styles/checkout.css">
	<link rel="stylesheet" type="text/css" href="/styles/checkout_responsive.css">
	<style>
		.thank-you-container {
			margin-top: 100px;
			text-align: center;
		}
	
		.thank-you-container h1 {
			font-size: 36px;
		}
	
		.thank-you-container p {
			font-size: 18px;
		}
	
		.thank-you-container img {
			max-width: 200px;
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<div class="super_container">

		<%- include('../partials/header') %>

		<div class="container thank-you-container">
			<img src="https://png.pngtree.com/png-vector/20191113/ourmid/pngtree-green-check-mark-icon-flat-style-png-image_1986021.jpg"
				alt="Success Icon">
			<h1 style="color: black;">Thank You for Your Order!</h1>
			<p>Your order has been successfully placed. We will process it soon.</p>
			<p>Thank you for choosing our service.</p>
			<a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
		</div>

	</div>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/styles/bootstrap4/popper.js"></script>
	<script src="/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="/plugins/greensock/TweenMax.min.js"></script>
	<script src="/plugins/greensock/TimelineMax.min.js"></script>
	<script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
	<script src="/plugins/greensock/animation.gsap.min.js"></script>
	<script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
	<script src="/plugins/easing/easing.js"></script>
	<script src="/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="/js/cart.js"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
</body>

</html>